<% layout("layouts/boilerplate") -%>

    <body>

        <div class="card">
            <img src="<%= user.image %>" alt="Listing Image">

            <div class="content">
                <h1>
                    <%= user.tital %>
                </h1>

                <div class="price">
                    ₹ <%= user.price.toLocaleString("en-IN") %>
                </div>

                <div class="location">
                    <%= user.location %> | <%= user.country %>
                </div>

                <p>
                    <%= user.description %>
                </p>

                <div class="actions">
                    <form method="post" action="/listings/<%= user._id %>?_method=DELETE">
                        <button class="delete-btn">Delete</button>
                    </form>

                    <form method="get" action="/listings/<%= user._id %>/edit">
                        <button class="edit-btn">Edit</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="card p-4">
            <h1>Leave a Review</h1>
            <form action="/listings/<%= user._id %>/reviews" method="post" class="needs-validation" novalidate>
                <div>
                    <label for="">Rating</label>
                    <input type="range" min="1" max="5" name="review[rating]">
                </div>
                <div>
                    <label for="">Comment</label>
                    <textarea name="review[Comment]" id="" cols="30" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please add some comments for review.</div>

                </div>
                <button class="btn btn-dark mt-3">Submit</button>
            </form>
        </div>
        <hr>
        <div class="card p-4">
            <h1>All reviews</h1>
            <ul>
                <% for(let review of user.reviews) {%>
                    <li>
                        <%= review.Comment %> - <%=review.rating%>⭐
                                <form method="post"
                                    action="/listings/<%= user._id %>/<%= review._id %>/delete?_method=DELETE">
                                    <button>Delete</button>
                                </form>
                    </li>
                    <% }%>
            </ul>
        </div>
    </body>